## List

### Mengakses List

In [31]:
Data = [1,4,9,16,25,36,49,64]
Subdata1 = Data[2:4]
print(Subdata1)

[9, 16]

In [32]:
Barang = ['kunci','ember','jaket','ban','mobil']
print(Barang)

['kunci', 'ember', 'jaket', 'ban', 'mobil']

In [8]:
Subdata2 = Data[-2:]
print(Subdata2)

[49, 64]

In [12]:
Subdata3 = Data[:2]
print(Subdata3)

[1, 4]

### Menambah List

In [11]:
Data2 = [100,200,300,400,500,600,700,800]

Data3 = Data + Data2
print(Data3)

[1, 4, 9, 16, 25, 36, 49, 64, 100, 200, 300, 400, 500, 600, 700, 800]

### Merubah Konten dari List

In [17]:
Data[4] = 87
print(Data)

[1, 4, 9, 16, 87, 36, 49, 64]

### Mengcopy list ke variable baru

In [16]:
a = Data[:]
a[4] = 87
print(Data)

[1, 4, 9, 16, 87, 36, 49, 64]

### Merubah content list dengan menggunakan metoda slicing

In [27]:
Data = [1,4,9,16,25,36,49,64]

Data[3:5] = [11,12]
print(Data)

[1, 4, 9, 11, 12, 36, 49, 64]

### List dalam list

In [19]:
x = [Data,Data2]
print(x)

[[1, 4, 9, 11, 12, 36, 49, 64], [100, 200, 300, 400, 500, 600, 700, 800]]

### Mengakses list dalam multidimensional list

In [22]:
x = [Data,Data2]
y = x[1][4]
print(x)
print(y)

[[1, 4, 9, 11, 12, 36, 49, 64], [100, 200, 300, 400, 500, 600, 700, 800]]
500

### Methods untuk List

### Method untuk menambah data kedalam list

In [46]:
Data.append(30)
print(Data)

[1, 4, 9, 16, 25, 36, 49, 64, 30, 30]

In [36]:
Barang = ['kunci','ember','jaket','ban','mobil']
print(Barang)

['kunci', 'ember', 'jaket', 'ban', 'mobil']

In [38]:
Barang.append('sepeda')
print(Barang)

['kunci', 'ember', 'jaket', 'ban', 'mobil', 'sepeda', 'sepeda']

In [40]:
df = 'test'
for i in df:
    print(i)

t
e
s
t

In [42]:
Barang.extend('dompet')
print(Barang)

['kunci', 'ember', 'jaket', 'ban', 'mobil', 'sepeda', 'sepeda', 'd', 'o', 'm', 'p', 'e', 't', 'd', 'o', 'm', 'p', 'e', 't']

In [45]:
Barang.insert(3,'motor')
print(Barang)

['kunci', 'ember', 'jaket', 'motor', 'motor', 'mmotor', 'ban', 'mobil', 'sepeda', 'sepeda', 'd', 'o', 'm', 'p', 'e', 't', 'd', 'o', 'm', 'p', 'e', 't']

### Method untuk menghitung anggota

In [48]:
jumlahSepeda = Barang.count('sepeda')
print("Jumlah sepeda adalah: ", jumlahSepeda)

Jumlah sepeda adalah:  2

### Meremove Data

In [50]:
Barang.remove('sepeda')
print(Barang)

['kunci', 'ember', 'jaket', 'motor', 'motor', 'mmotor', 'ban', 'mobil', 'd', 'o', 'm', 'p', 'e', 't', 'd', 'o', 'm', 'p', 'e', 't']

## Lainnya

In [52]:
Barang.reverse()
print(Barang)

['kunci', 'ember', 'jaket', 'motor', 'motor', 'mmotor', 'ban', 'mobil', 'd', 'o', 'm', 'p', 'e', 't', 'd', 'o', 'm', 'p', 'e', 't']

In [54]:
Stuff = Barang.copy()
Stuff.append('gelas')
print(Stuff)
print(Barang)

['kunci', 'ember', 'jaket', 'motor', 'motor', 'mmotor', 'ban', 'mobil', 'd', 'o', 'm', 'p', 'e', 't', 'd', 'o', 'm', 'p', 'e', 't', 'gelas', 'gelas']
['kunci', 'ember', 'jaket', 'motor', 'motor', 'mmotor', 'ban', 'mobil', 'd', 'o', 'm', 'p', 'e', 't', 'd', 'o', 'm', 'p', 'e', 't', 'gelas']

### Function yang bisa kita gunakan kepada List

In [30]:
panjang_list = len(Data)
print(panjang_list)

9